
  .special {
    width: 6.4rem;
  }
  .special .banner {
    height: 2.5rem;
  }
  .special .banner img{
    display: block;
    width: 100%;
  }
  .special .countdown {
    height: 3.2rem;
    margin-top: 1px;
  }
  .special .countdown > .background {
    width: 6.4rem;
    height: 3.2rem;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .special .countdown > .background > .number {
    margin-left: 1.4rem;
    margin-right: 1.6rem;
    padding-top: 0.7rem;
    text-align: center;
    font-size: 1.3rem;
  }
  .special .reports {
    margin-top: 1px;
    padding: 0px 0.1rem;
    background-color: #FFFFFF;
  }
  .special .struct_single {
    height: 1.3rem;
    padding: 0.15rem 0px;
    border-bottom: 1px solid #D6D6D6;
    box-sizing: content-box;
  }
  .special .struct_single .thumb {
    width: 1.9rem;
    height: 1.3rem;
    float: left;
  }
  .special .struct_single .thumb img{
    width:100%;
    height: 100%;
    display: block;
  }
  .special .struct_single .detail {
    width: 4.2rem;
    height: 1.3rem;
    float: right;
  }
  .special .struct_single .title {
    height: 1rem;
    font-size: 0.3rem;
    color: #343434;
  }
  .special .struct_single .addtime {
    font-size: 0.24rem;
    color: #A0A0A0;
  }
  .special .struct_multiple {
    height: 2.1rem;
    border-bottom: 1px solid #D6D6D6;
  }
  .special .struct_multiple .title {
    font-size: 0.3rem;
    color: #343434;
    line-height: 0.5rem;
  }
  .special .struct_multiple .thumbs {
    overflow: hidden;
  }
  .special .struct_multiple .thumbs li {
    width: 2rem;
    height: 1.4rem;
    margin-right: 0.1rem;
    float: left;
  }
  .special .struct_multiple .thumbs li:last-child {
    margin-right: 0px;
  }
