
.business{
  width: 6.4rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.business .banner{
  width: 6.4rem;
  flex-shrink: 0;
  height:3rem;
  background-size: 100%;
}
.business .buy,.business .rent{
  width: 6.4rem;
  flex-grow: 1;
  background-size:100%;
  background-position: center;
  background-repeat: no-repeat;
}
.business .buy{
  background-color: #3ab16e;
}
.business .rent{
  background-color: #1eb9ed;
}
